In [145]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
print('libraries imported')

libraries imported

Read Dataframe

In [146]:
df = pd.read_csv("Used_Bikes.csv")
df.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha

In [147]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32648 entries, 0 to 32647
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   32648 non-null  object
 1   price       32648 non-null  float64
 2   city        32648 non-null  object
 3   kms_driven  32648 non-null  float64
 4   owner       32648 non-null  object
 5   age         32648 non-null  float64
 6   power       32648 non-null  float64
 7   brand       32648 non-null  object
dtypes: float64(4), object(4)
memory usage: 2.0+ MB

In [148]:
# checking duplicate records
print("No. of duplicate records : ",df.duplicated().sum())

No. of duplicate records :  25324

In [149]:
# removing duplicate records
df.drop_duplicates(inplace=True)
print("Duplicate Removed!")

Duplicate Removed!

In [150]:
# checking duplicate records
print("No. of duplicate records : ",df.duplicated().sum())

No. of duplicate records :  0

In [151]:
print("Total no. of bike records : ",df.shape)

Total no. of bike records :  (7324, 8)

In [152]:
# checking missing values in data
df.isna().sum()

# 0r

df.isnull().sum()

bike_name     0
price         0
city          0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

Machine is work on pure math . So find out columns that are not numerical.

In [153]:
df.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha

Divide column based on datatype

In [154]:
# categorical columns
cat_col=df.select_dtypes(include='O')  
cat_col.head()

                              bike_name       city        owner          brand
0    TVS Star City Plus Dual Tone 110cc  Ahmedabad  First Owner            TVS
1           Royal Enfield Classic 350cc      Delhi  First Owner  Royal Enfield
2                  Triumph Daytona 675R      Delhi  First Owner        Triumph
3                  TVS Apache RTR 180cc  Bangalore  First Owner            TVS
4  Yamaha FZ S V 2.0 150cc-Ltd. Edition  Bangalore  First Owner         Yamaha

In [155]:
# numerical column
num_col=df.select_dtypes(exclude='O')
num_col.head()

      price  kms_driven  age  power
0   35000.0     17654.0  3.0  110.0
1  119900.0     11000.0  4.0  350.0
2  600000.0       110.0  8.0  675.0
3   65000.0     16329.0  4.0  180.0
4   80000.0     10000.0  3.0  150.0

Remove column is not good option.
So,we will transform data.

In [156]:
cat_col['owner'].value_counts()

owner
First Owner             6642
Second Owner             588
Third Owner               84
Fourth Owner Or More      10
Name: count, dtype: int64

Now, we will transform first owner into 1, second owner into 2 and so on...

In [157]:
dt = {'First Owner':1,'Second Owner':2,'Third Owner':3,'Fourth Owner Or More':4}
dt

{'First Owner': 1,
 'Second Owner': 2,
 'Third Owner': 3,
 'Fourth Owner Or More': 4}

Map function does mapping. That's why execute only first time.
If we execute it again then it couldn't able to find out keys and fill NaN at every place.

In [158]:
df['owner'] = df['owner'].map(dt)  #single time execute only

In [159]:
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,1,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,1,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,1,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,1,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,1,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,25000.0,Delhi,48587.0,1,8.0,150.0,Hero
9369,Bajaj Avenger 220cc,35000.0,Bangalore,60000.0,1,9.0,220.0,Bajaj
9370,Harley-Davidson Street 750 ABS,450000.0,Jodhpur,3430.0,1,4.0,750.0,Harley-Davidson
9371,Bajaj Dominar 400 ABS,139000.0,Hyderabad,21300.0,1,4.0,400.0,Bajaj
9372,Bajaj Avenger Street 220,80000.0,Hyderabad,7127.0,1,5.0,220.0,Bajaj

In [160]:
df['brand'].value_counts()

brand
Bajaj              2081
Royal Enfield      1346
Hero               1142
Honda               676
Yamaha              651
TVS                 481
KTM                 375
Suzuki              203
Harley-Davidson      91
Kawasaki             61
Hyosung              53
Mahindra             50
Benelli              46
Triumph              21
Ducati               20
BMW                  10
Jawa                  7
Indian                3
MV                    3
Rajdoot               1
LML                   1
Yezdi                 1
Ideal                 1
Name: count, dtype: int64

Now, we don't have much data for brands lower than BMW .
So, we will filter data such that no. of bikes of brands.

In [161]:
df['brand'].value_counts().head(16)

brand
Bajaj              2081
Royal Enfield      1346
Hero               1142
Honda               676
Yamaha              651
TVS                 481
KTM                 375
Suzuki              203
Harley-Davidson      91
Kawasaki             61
Hyosung              53
Mahindra             50
Benelli              46
Triumph              21
Ducati               20
BMW                  10
Name: count, dtype: int64

In [162]:
df['brand'].value_counts().head(16).keys()

Index(['Bajaj', 'Royal Enfield', 'Hero', 'Honda', 'Yamaha', 'TVS', 'KTM',
       'Suzuki', 'Harley-Davidson', 'Kawasaki', 'Hyosung', 'Mahindra',
       'Benelli', 'Triumph', 'Ducati', 'BMW'],
      dtype='object', name='brand')

In [163]:
ls = list(df['brand'].value_counts().head(16).keys())
ls

['Bajaj',
 'Royal Enfield',
 'Hero',
 'Honda',
 'Yamaha',
 'TVS',
 'KTM',
 'Suzuki',
 'Harley-Davidson',
 'Kawasaki',
 'Hyosung',
 'Mahindra',
 'Benelli',
 'Triumph',
 'Ducati',
 'BMW']

In [164]:
df2=df[df['brand'].isin(ls)]
df2.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,1,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,1,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,1,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,1,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,1,3.0,150.0,Yamaha

In [165]:
ls=list(df2['brand'].value_counts().keys())
ls

['Bajaj',
 'Royal Enfield',
 'Hero',
 'Honda',
 'Yamaha',
 'TVS',
 'KTM',
 'Suzuki',
 'Harley-Davidson',
 'Kawasaki',
 'Hyosung',
 'Mahindra',
 'Benelli',
 'Triumph',
 'Ducati',
 'BMW']

In [166]:
for i in range(16):
    dt[ls2[i]]=i+1

dt

{'First Owner': 1,
 'Second Owner': 2,
 'Third Owner': 3,
 'Fourth Owner Or More': 4,
 'Bajaj': 1,
 'Royal Enfield': 2,
 'Hero': 3,
 'Honda': 4,
 'Yamaha': 5,
 'TVS': 6,
 'KTM': 7,
 'Suzuki': 8,
 'Harley-Davidson': 9,
 'Kawasaki': 10,
 'Hyosung': 11,
 'Mahindra': 12,
 'Benelli': 13,
 'Triumph': 14,
 'Ducati': 15,
 'BMW': 16}

Mapping the brands

In [167]:
df2['brand']

0                   TVS
1         Royal Enfield
2               Triumph
3                   TVS
4                Yamaha
             ...
9362               Hero
9369              Bajaj
9370    Harley-Davidson
9371              Bajaj
9372              Bajaj
Name: brand, Length: 7307, dtype: object

In [168]:
df2['brand']=df2['brand'].map(dt)

C:\Users\kunta\AppData\Local\Temp\ipykernel_12704\891643427.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['brand']=df2['brand'].map(dt)

In [169]:
df2

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,1,3.0,110.0,6
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,1,4.0,350.0,2
2,Triumph Daytona 675R,600000.0,Delhi,110.0,1,8.0,675.0,14
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,1,4.0,180.0,6
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,1,3.0,150.0,5
...,...,...,...,...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,25000.0,Delhi,48587.0,1,8.0,150.0,3
9369,Bajaj Avenger 220cc,35000.0,Bangalore,60000.0,1,9.0,220.0,1
9370,Harley-Davidson Street 750 ABS,450000.0,Jodhpur,3430.0,1,4.0,750.0,9
9371,Bajaj Dominar 400 ABS,139000.0,Hyderabad,21300.0,1,4.0,400.0,1
9372,Bajaj Avenger Street 220,80000.0,Hyderabad,7127.0,1,5.0,220.0,1

Here, column city and bike_name is providing unneccesssary information that we don't need.

In [170]:
df2.drop(['bike_name','city'],axis='columns',inplace=True)
df2.head()

C:\Users\kunta\AppData\Local\Temp\ipykernel_12704\3315125431.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop(['bike_name','city'],axis='columns',inplace=True)

      price  kms_driven  owner  age  power  brand
0   35000.0     17654.0      1  3.0  110.0      6
1  119900.0     11000.0      1  4.0  350.0      2
2  600000.0       110.0      1  8.0  675.0     14
3   65000.0     16329.0      1  4.0  180.0      6
4   80000.0     10000.0      1  3.0  150.0      5

In [171]:
df2.head()

      price  kms_driven  owner  age  power  brand
0   35000.0     17654.0      1  3.0  110.0      6
1  119900.0     11000.0      1  4.0  350.0      2
2  600000.0       110.0      1  8.0  675.0     14
3   65000.0     16329.0      1  4.0  180.0      6
4   80000.0     10000.0      1  3.0  150.0      5

Now, x are variable that are independent and y is variable that is dependent and we need to predict that y.

Now, we divide on basis of x and y

In [172]:
x = df2.drop('price',axis='columns')
y = df2[['price']]

In [173]:
x.head()

   kms_driven  owner  age  power  brand
0     17654.0      1  3.0  110.0      6
1     11000.0      1  4.0  350.0      2
2       110.0      1  8.0  675.0     14
3     16329.0      1  4.0  180.0      6
4     10000.0      1  3.0  150.0      5

In [174]:
y.head()

      price
0   35000.0
1  119900.0
2  600000.0
3   65000.0
4   80000.0

Now, we divide this data on basis of rows to train ml and test ml.
We divide 80% and 20% data randomly for training and testing purpose.

In [175]:
from sklearn.model_selection import train_test_split

In [177]:
x_train , x_test , y_train , y_test=train_test_split(x,y,test_size=0.2)  # it will split both dataframe where test size is 0.2 means20% and remaining is training size that is 80%

Now, training-testing part is done.
Now, we train ml with help of algorithm on data.
For it , we train ml on linear regresssion.

In [178]:
# importing linear regression algorithm class
from sklearn.linear_model import LinearRegression

In [180]:
# instance of linear regression algorithm class

lnr = LinearRegression()

In [195]:
# training of ml

lnr.fit(x_train,y_train)

LinearRegression()

Now, training of model is done and it's time for testing model or model evaluation,

In [196]:
# checking score of model prediction on training data
lnr.score(x_train,y_train)*100

73.5682411037367

In [198]:
# checking score of model prediction on training data
print("score on test data in % is :",lnr.score(x_test,y_test)*100)

score on test data in % is : 75.89405144029462

Score should be high above 90 and 95.

Now, we take prediction.

In [199]:
x_test.shape

(1462, 5)

In [209]:
# predicting or testing phase
prediction = lnr.predict(x_test)

In [210]:
prediction.shape

(1462, 1)

In [214]:
comapredf = pd.concat([x_test,y_test],axis='columns')
comapredf.head()

      kms_driven  owner   age  power  brand    price
7879     15200.0      1   6.0  220.0      1  65000.0
1613      5500.0      1   6.0  150.0      1  56800.0
6640     26739.0      1   6.0  100.0      1  23000.0
5771     14000.0      1   4.0  150.0      8  80000.0
1875     40000.0      1  12.0  100.0      3  25000.0

In [215]:
comapredf['prediction'] = prediction

In [217]:
comapredf.head()

      kms_driven  owner   age  power  brand    price     prediction
7879     15200.0      1   6.0  220.0      1  65000.0   52839.228293
1613      5500.0      1   6.0  150.0      1  56800.0   16234.871835
6640     26739.0      1   6.0  100.0      1  23000.0  -11549.774971
5771     14000.0      1   4.0  150.0      8  80000.0  107508.716235
1875     40000.0      1  12.0  100.0      3  25000.0   -5526.965516

Now, we can see prediction is very poor on regression model.


Generalize Model :- Percentage difference b/w training score and testing score is under 5%.

if difference is above 5%

Overfit :- training score high and testing score is low.

Underfit :- Training score low and testing score can be either low or high(measurely high).

Now, checking difference b/w actual and predict price

In [218]:
comapredf['residual'] = comapredf['price']-comapredf['prediction']

In [219]:
comapredf.head()

,kms_driven,owner,age,power,brand,price,prediction,residual
7879,15200.0,1,6.0,220.0,1,65000.0,52839.228293,12160.771707
1613,5500.0,1,6.0,150.0,1,56800.0,16234.871835,40565.128165
6640,26739.0,1,6.0,100.0,1,23000.0,-11549.774971,34549.774971
5771,14000.0,1,4.0,150.0,8,80000.0,107508.716235,-27508.716235
1875,40000.0,1,12.0,100.0,3,25000.0,-5526.965516,30526.965516

In [222]:
# prediction

unseen_bike = [[3500,2,2,220,3]]

price_prediction_unseen_bike = lnr.predict(unseen_bike)
price_prediction_unseen_bike

C:\Users\kunta\AppData\Roaming\Python\Python312\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[82347.30437269]])

Now, we save this model

In [224]:
import os, joblib

In [230]:
os.makedirs('models',exist_ok=True)  # create a folder name "models"

In [231]:
lnr

LinearRegression()

In [232]:
# storing variable in memory
student_ls = ['mohan','rohan','sohan']

In [233]:
joblib.dump(student_ls,'student_ls.lb')

['student_ls.lb']

In [234]:
joblib.load('student_ls.lb')

['mohan', 'rohan', 'sohan']

In [235]:
# storing lnr model in memory in folder "models"

joblib.dump(lnr,'./models/linearRegression.lb')

['./models/linearRegression.lb']